*{
    margin:0;
    padding: 0;
}

html,body{
    min-height: 100vh;
    background-color: plum;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    border: 2px solid blue;
    font-size: larger;
    min-width: 500px;
}

.validationform{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    font-size: 20px;
    gap: 15px;
}

input{
    font-size: 15px;
}

input:invalid{
    border: 2px solid red;
}

input:valid{
    background-color: white;
}

.countrybtn{
    width: 35%;
    min-height: 2rem;
}

.error{
    background-color: rgb(221, 67, 67);
}

.countryopt{
    background-color: white;
}